:root {
    --key-height: 3.75rem;
    --key-width: 3.75rem;
    --key-border-width: 0.1rem;
    --middle-col-gap: 1.5rem;
    --fn-keys-gap-below: 1rem;

    --body-background-color: #dddddd;

    --key-background-color: #c5c5c5;
    --key-border-color: var(--keyboard-under-key-color);
    --key-hover-background-color: #8b8b8b;
    --key-hover-text-color: var(--key-text-color);
    --key-hover-border-color: var(--key-border-color);
    --key-shadow-color: rgb(0 0 0 / 54%);
    --key-text-color: #454545;

    --keyboard-under-key-color: #4f4f4f;
    --keyboard-under-key-radius: 0.5rem;
    --keyboard-background-color: #a1a1a1;
    --keyboard-border-color: #757575;
    --keyboard-outer-color: #636363;
}

@media (prefers-color-scheme: dark) {
    :root {
        --body-background-color: #333333;

        --key-background-color: #242424;
        --key-border-color: var(--keyboard-under-key-color);
        --key-hover-background-color: #8b8b8b;
        --key-hover-text-color: var(--key-text-color);
        --key-hover-border-color: var(--key-border-color);
        --key-shadow-color: rgb(0 0 0 / 43%);
        --key-text-color: #e3e3e3;

        --keyboard-under-key-color: #1a1a1a;
        --keyboard-under-key-radius: 0.5rem;
        --keyboard-background-color: #242424;
        --keyboard-border-color: #353535;
        --keyboard-outer-color: var(--key-background-color);
    }
}

body {
    background-color: var(--body-background-color);
    transition-duration: 0.4s;
}

.key {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 0.5rem;
    border-radius: 0.7rem;
    border-style: solid;
    border-width: var(--key-border-width);
    border-color: var(--key-border-color);
    height: var(--key-height);
    width: var(--key-width);
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    box-shadow: inset 0 -0.313rem 0 0.313rem var(--key-shadow-color);
    color: var(--key-text-color);
    background-color: var(--key-background-color);
    cursor: pointer;
    transition-duration: 0.1s;
    font-size: 0.9rem
}

.key:hover {
    background-color: var(--key-hover-background-color);
    border-color: var(--key-hover-border-color);
    color: var(--key-hover-text-color);
}

/* .key:active {
    transform: translateY(4px);
} */

.key.key--1-25-wide {
    width: calc(var(--key-width) * 1.25);
}

.key.key--1-5-wide {
    width: calc(var(--key-width) * 1.5);
}

.key.key--1-75-wide {
    width: calc(var(--key-width) * 1.75);
}

.key.key--2-wide {
    width: calc(var(--key-width) * 2);
}

.key.key--2-25-wide {
    width: calc(var(--key-width) * 2.25);
}

.key.key--2-75-wide {
    width: calc(var(--key-width) * 2.75);
}

.key.key--6-25-wide {
    width: calc(var(--key-width) * 6.25);
}

.key.key--2-tall {
    height: calc(var(--key-height) * 2);
}

.key.key--small-font {
    font-size: 0.75rem;
}

.key .material-symbols-outlined {
    font-size: 1.2rem;
}

.keyboard-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.keyboard {
    background-color: var(--keyboard-background-color);
    border-color: var(--keyboard-border-color);
    box-shadow: 0 0.375rem 0 0.313rem var(--keyboard-outer-color), 0 0.188rem 1.188rem 0.063rem #000000;
    border-radius: 0.5rem;
    border-style: solid;
    border-width: 0.3rem;
    padding: 0.3rem;

    display: grid;
    grid-template-rows:
        [top-row] var(--key-height)
        [main-row] calc(var(--key-height) * 5);
    grid-template-columns: 
        [main-column] calc(var(--key-width) * 15) /* 15 keys wide (13 + 1 double wide) */
        [middle-column] calc(var(--key-width) * 3)
        [numpad-column] calc(var(--key-width) * 4);
    grid-column-gap: var(--middle-col-gap);
    grid-row-gap: var(--fn-keys-gap-below);
}

.fn-keys {
    grid-row-start: top-row;
    grid-column-start: main-column;
    display: grid;
    grid-template-rows: var(--key-height);
    grid-template-columns: 
        [fn-esc-group] calc(var(--key-width) * 1)
        [fn-f1-group] calc(var(--key-width) * 4)
        [fn-f5-group] calc(var(--key-width) * 4)
        [fn-f9-group] calc(var(--key-width) * 4);
    grid-column-gap: calc(var(--key-width) * (2/3)); /* Gap between function key groups should be 2/3rds of a key's width */
}

.fn-keys .fn-esc-group {
    grid-column-start: fn-esc-group;
    background-color: var(--keyboard-under-key-color);
    border-radius: var(--keyboard-under-key-radius);
}

.fn-keys .fn-f1-group {
    grid-column-start: fn-f1-group;
    display: flex;
    background-color: var(--keyboard-under-key-color);
    border-radius: var(--keyboard-under-key-radius);
}

.fn-keys .fn-f5-group {
    grid-column-start: fn-f5-group;
    display: flex;
    background-color: var(--keyboard-under-key-color);
    border-radius: var(--keyboard-under-key-radius);
}

.fn-keys .fn-f9-group {
    grid-column-start: fn-f9-group;
    display: flex;
    background-color: var(--keyboard-under-key-color);
    border-radius: var(--keyboard-under-key-radius);
}

.middle-col-keys {
    grid-column-start: middle-column;
    display: grid;
    grid-template-rows: 
        [control-keys] var(--key-height)
        [control-nav-gap] var(--fn-keys-gap-below)
        [nav-keys] calc(var(--key-height) * 2)
        [nav-arrow-gap] var(--key-height)
        [arrow-keys] calc(var(--key-height) * 2);
    grid-template-columns: calc(var(--key-height) * 3);
}

.middle-col-keys .control-keys {
    grid-row-start: control-keys;
    display: flex;
    background-color: var(--keyboard-under-key-color);
    border-radius: var(--keyboard-under-key-radius);
}

.middle-col-keys .nav-keys {
    grid-row-start: nav-keys;
    display: grid;
    grid-template-rows: repeat(2, var(--key-height));
    grid-template-columns: calc(var(--key-width) * 3);
    background-color: var(--keyboard-under-key-color);
    border-radius: var(--keyboard-under-key-radius);
}

.middle-col-keys .arrow-keys {
    grid-row-start: arrow-keys;
    display: grid;
    grid-template-rows: repeat(2, var(--key-height));
    grid-template-columns: 
        var(--key-width)
        [up-arrow-col] var(--key-width)
        var(--key-width);
}

.main-keys {
    grid-row-start: main-row;
    display: grid;
    grid-template-rows: repeat(5, var(--key-height));
    grid-template-columns: calc(var(--key-width) * 15);
    background-color: var(--keyboard-under-key-color);
    border-radius: var(--keyboard-under-key-radius);
}

.keys-row {
    display: flex;
}

.up-arrow-row {
    grid-column-start: up-arrow-col;
    background-color: var(--keyboard-under-key-color);
    border-top-left-radius: var(--keyboard-under-key-radius);
    border-top-right-radius: var(--keyboard-under-key-radius);
}

.down-arrow-row {
    display: flex;
    grid-row-start: 2;
    grid-column: 1 / 4;
    background-color: var(--keyboard-under-key-color);
    border-radius: var(--keyboard-under-key-radius);
}

.numpad {
    grid-column-start: numpad-column;
    display: grid;
    grid-template-rows: 
        var(--key-height)
        var(--fn-keys-gap-below)
        [numpad__top] var(--key-height)
        [numpad__main] calc(var(--key-height) * 4);
    grid-template-columns: 
        [numpad__main-col] calc(var(--key-height) * 3)
        [numpad__side] var(--key-height);
}

.numpad .numpad__top {
    grid-row-start: numpad__top;
    grid-column: numpad__main-col / span 2;
    display: flex;
    width: 100%;
    background-color: var(--keyboard-under-key-color);
    border-top-left-radius: var(--keyboard-under-key-radius);
    border-top-right-radius: var(--keyboard-under-key-radius);
}

.numpad .numpad__main {
    grid-row-start: numpad__main;
    display: grid;
    grid-template-rows: repeat(2, var(--key-height));
    grid-template-columns: calc(var(--key-width) * 3);
    background-color: var(--keyboard-under-key-color);
    border-bottom-left-radius: var(--keyboard-under-key-radius);
}

.numpad .numpad__side {
    grid-row-start: numpad__main;
    grid-column-start: numpad__side;
    background-color: var(--keyboard-under-key-color);
    border-bottom-right-radius: var(--keyboard-under-key-radius);
}