:root {
    --background-color: #f0f0f0;
    --border-color: #525252;
    --text-color: #f0f0f0;

    --key-border-color: #000000;
    --key-text-color: #e3e3e3;
    --key-height: 3.75rem;
    --key-width: 3.75rem;
    --key-border-width: 0.2rem;

    --middle-col-gap: 1.5em;
    --fn-keys-gap-below: 1em;
}
  
@media (prefers-color-scheme: dark) {
    :root {
        /* Dark mode stuff here! */
        --background-color: #242424;
        --border-color: #444444;

        --key-border-color: #1a1717;
        --key-text-color: #e3e3e3;
    }
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
}

main {
    background-color: var(--background-color);
    padding: 1rem;
}

.key {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.6rem;
    border-style: solid;
    border-width: var(--key-border-width);
    border-color: var(--key-border-color);
    height: var(--key-height);
    width: var(--key-width);
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    box-shadow: inset 0px -3px 0px 3px rgb(255 255 255 / 10%);
    color: #e3e3e3;
}

.key.key--1-25-wide {
    width: calc(var(--key-width) * 1.25);
}

.key.key--1-5-wide {
    width: calc(var(--key-width) * 1.5);
}

.key.key--1-75-wide {
    width: calc(var(--key-width) * 1.75);
}

.key.key--2-wide {
    width: calc(var(--key-width) * 2);
}

.key.key--2-25-wide {
    width: calc(var(--key-width) * 2.25);
}

.key.key--2-75-wide {
    width: calc(var(--key-width) * 2.75);
}

.key.key--6-25-wide {
    width: calc(var(--key-width) * 6.25);
}

.key.key--2-tall {
    height: calc(var(--key-height) * 2);
}

.keyboard-container {
    display: flex;
    justify-content: center;
}

.keyboard {
    background-color: var(--background-color);
    border-color: var(--border-color);
    border-radius: 0.5rem;
    border-style: solid;
    border-width: 0.5rem;

    display: grid;
    grid-template-rows:
        [top-row] var(--key-height)
        [main-row] calc(var(--key-height) * 5);
    grid-template-columns: 
        [main-column] calc(var(--key-width) * 15) /* 15 keys wide (13 + 1 double wide) */
        [middle-column] calc(var(--key-width) * 3)
        [numpad-column] calc(var(--key-width) * 4);
    grid-column-gap: var(--middle-col-gap);
    grid-row-gap: var(--fn-keys-gap-below);
}

.fn-keys {
    grid-row-start: top-row;
    grid-column-start: main-column;
    display: grid;
    grid-template-rows: var(--key-height);
    grid-template-columns: 
        [fn-esc-group] calc(var(--key-width) * 1)
        [fn-f1-group] calc(var(--key-width) * 4)
        [fn-f5-group] calc(var(--key-width) * 4)
        [fn-f9-group] calc(var(--key-width) * 4);
    grid-column-gap: calc(var(--key-width) * (2/3)); /* Gap between function key groups should be 2/3rds of a key's width */
}

.fn-keys .fn-esc-group {
    grid-column-start: fn-esc-group;
}

.fn-keys .fn-f1-group {
    grid-column-start: fn-f1-group;
    display: flex;
}

.fn-keys .fn-f5-group {
    grid-column-start: fn-f5-group;
    display: flex;
}

.fn-keys .fn-f9-group {
    grid-column-start: fn-f9-group;
    display: flex;
}

.middle-col-keys {
    grid-column-start: middle-column;
    display: grid;
    grid-template-rows: 
        [control-keys] var(--key-height)
        [control-nav-gap] var(--fn-keys-gap-below)
        [nav-keys] calc(var(--key-height) * 2)
        [nav-arrow-gap] var(--key-height)
        [arrow-keys] calc(var(--key-height) * 2);
    grid-template-columns: calc(var(--key-height) * 3);
}

.middle-col-keys .control-keys {
    grid-row-start: control-keys;
    display: flex;
}

.middle-col-keys .nav-keys {
    grid-row-start: nav-keys;
    display: grid;
    grid-template-rows: repeat(2, var(--key-height));
    grid-template-columns: calc(var(--key-width) * 3);
}

.middle-col-keys .arrow-keys {
    grid-row-start: arrow-keys;
    display: grid;
    grid-template-rows: repeat(2, var(--key-height));
    grid-template-columns: 
        var(--key-width)
        [up-arrow-col] var(--key-width)
        var(--key-width);
}

.main-keys {
    grid-row-start: main-row;
    display: grid;
    grid-template-rows: repeat(5, var(--key-height));
    grid-template-columns: calc(var(--key-width) * 15);
}

.keys-row {
    display: flex;
}

.up-arrow-row {
    grid-column-start: up-arrow-col;
}

.down-arrow-row {
    display: flex;
    grid-row-start: 2;
    grid-column: 1 / 4;
}

.numpad {
    grid-column-start: numpad-column;
    display: grid;
    grid-template-rows: 
        var(--key-height)
        var(--fn-keys-gap-below)
        [numpad__top] var(--key-height)
        [numpad__main] calc(var(--key-height) * 4);
    grid-template-columns: 
        [numpad__main-col] calc(var(--key-height) * 3)
        [numpad__side] var(--key-height);
}

.numpad .numpad__top {
    grid-row-start: numpad__top;
    grid-column: numpad__main-col / span 2;
    display: flex;
    width: 100%;
}

.numpad .numpad__main {
    grid-row-start: numpad__main;
    display: grid;
    grid-template-rows: repeat(2, var(--key-height));
    grid-template-columns: calc(var(--key-width) * 3);
}

.numpad .numpad__side {
    grid-row-start: numpad__main;
    grid-column-start: numpad__side;
}